div.scrollmenu {
    background-color: rgb(30, 16, 95);
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

div.scrollmenu a:hover {
    background-color: rgb(22, 131, 182);
}   
