{%extends 'base.html'%}
{%load static%}
{%block background%}<body background={%static '/background/background1.jpg' %}> {%endblock%}
{%block title%} Salamat.com {%endblock%}
{%block nav%} {%endblock%}
{%block body%}
<div>
    <div>
    <h1 align='center' style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"><b>WELCOM TO SALAMAT GYM </b></h1>
    </div>
<div id='welcom'>
    <div align='center'>
        <a id='signupp'href="/register/">
            <img src={% static "/logo/signup.png"%} alt="Sign Up">
        </a>
        <a id='loginn' href="/login/">
            <img src={% static "/logo/login.png"%} alt="Login">
        </a>
    </div>
</div>
{%endblock%}